
.wrapper { max-width: 928px; margin: auto; font-family: "Arial"; }

.toolBar { width: 100%; background-color: #ffffff; overflow: auto; border: 1.5px solid  #000000; }
/* overflow: auto --> if items inside of the toolbar get shrunk down */

.toolBar a { float: left; width: 11%; text-align: center; padding: 6px 5px; transition: all 0.5s ease; }

/* Change color on hover */
.toolBar a:hover { background-color: #e8e8e8; }

/* Change color on selected icon */
.selected { background-color: #bdbdbd; }

#my-canvas { width: 100%; border: 3px solid #000000; }
/* # --> it has an ID so use the # symbol */

#img-data-div { width: 100%; max-width: 928px; height: 200px; }

/* Resize image to container */
.toolBar a img { max-width: 100%; height: auto; }