body{
    background: #000000;
}

#canvas{
    margin: 10px;
    padding: 10px;
    background: #ffffff;
    border: thin inset #000000;
}

#json-data{
    margin: 10px;
    padding: 10px;
    width: 620px;
    height: 200px;
    background: #ffffff;
    border: thin inset #000000;
}

.myBtn{
    margin: 10px;
    padding: 10px;
    width: 620px;
}