body {
    padding: 0;
    margin: 0;
    border: 0;
    overflow-x: none;
    background-color: #ffffff;
    font-family: sans-serif;
    font-size: 12px;
}

.wrapper {
    margin-right: auto;
    margin-left: auto;
    max-width: 960px;
    padding: 10px;
}

.customBtn {
    background-color: #333CFF; /* Green */
    border: none;
    color: #ffffff;
    padding: 15px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 4px;
}